.navbar-brand{
    cursor : pointer;
}
.bg-image{

    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,rgba(100, 100, 100, 0.3),rgba(187, 102, 23, 0.726)),url(src/background.jpg) ;
    background-position: center;
    background-size:cover;
    position: absolute;
    filter: contrast(90%);
    -webkit-filter: brightness(100%) contrast(110%);

}
.navbar-collapse .navbar-nav #p{
    margin-left :1170px;
 }
 .navbar-collapse .navbar-nav #l{
     margin-left :0.1rem;
  }

  .nav-link{
      cursor: pointer;
  }

.heading{
    color: white;
    margin: 300px 400px;
    size: 1000%;
}