h1
{
    color:blue;
}
input.ng-invalid{
    border-left: 5px solid red;
}
.error
{
    color: red;
}
.form-control.ng-touched.ng-invalid
{
    
    border: 1px solid red;
}
.form-control.ng-touched.ng-valid
{
    border: 1px solid green;
}
.form-group{
    padding: 5px;
}
.nav-link{
    cursor: pointer;
}